APP_NAME="Directors Resale Platform"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/directors-resale-platform/public

APP_TIMEZONE=Africa/Cairo

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=directors_resale_platform
DB_USERNAME=root
DB_PASSWORD=